mixin auiPropertyLozenge
    +auiLozenge(class='ac-property-type ' + attributes.class)
        block

mixin auiLozenge
    if block
        span.aui-lozenge.aui-lozenge-subtle(class=attributes.class)
            block

h1
    = module.name

!= module.description

h2 Properties

table.aui
    thead
        tr
          th Name
          th Type
          th Description
    tbody
        - each prop in module.properties
            tr
                td
                    code
                        = prop.key
                td
                    - if (prop.type === 'object')
                        - if (prop.id === 'moduleList')
                            a(href = baseUrl + '/modules/jira/')
                                +auiPropertyLozenge(class='aui-lozenge-complete')
                                    | JIRA Modules
                            | &nbsp;or&nbsp;
                            a(href = baseUrl + '/modules/confluence/')
                                +auiPropertyLozenge(class='aui-lozenge-complete')
                                    | Confluence Modules
                        - else if (entityLinks[prop.id])
                            a(href = baseUrl + '/' + entityLinks[prop.id] + '.html')
                                - if (prop.title)
                                    +auiPropertyLozenge(class='aui-lozenge-complete')
                                        = prop.title
                                - else if (prop.name)
                                    +auiPropertyLozenge(class='aui-lozenge-complete')
                                        = prop.name
                                - else
                                    +auiPropertyLozenge(class='aui-lozenge-complete')
                                        = prop.id
                        - else
                            +auiPropertyLozenge()
                                = prop.type
                    - else if (prop.type === 'array')
                        - if (prop.arrayType === 'object')
                            | [&nbsp;
                            - each type in prop.arrayTypes
                                a(href = baseUrl + '/' + entityLinks[type.id] + '.html')
                                    +auiPropertyLozenge(class='aui-lozenge-complete')
                                        = type.title
                                | ,&nbsp;
                            | &hellip; ]
                        - else
                            | [&nbsp;
                            +auiPropertyLozenge()
                                = prop.arrayType
                            | , &hellip; ]
                    - else
                        +auiPropertyLozenge()
                            = prop.type
                        - if (prop.type === 'string' && prop.format)
                            p
                            +auiPropertyLozenge
                                = prop.format
                        - else if (prop.type === 'string' && prop.pattern)
                            p
                            +auiPropertyLozenge
                                = prop.pattern
                td
                    div
                        != prop.description
                    - if (prop.required)
                        +auiLozenge(class='aui-lozenge-error') Required
                    - if (prop.enum)
                        div
                            strong Valid values:
                            - each value in prop.enum
                                | &nbsp;
                                +auiLozenge
                                    = value
                    - if (prop.defaultValue)
                        div
                            strong Default value:
                            | &nbsp;
                            +auiLozenge(class='aui-lozenge-success')
                                = prop.defaultValue

//- h2 JSON Schema
//- textarea.code
//-     != JSON.stringify(capability,null,2)

script.
    var cmOpts = {
        mode: "javascript",
        theme: "neat",
        lineNumbers:true,
        gutters: ['CodeMirror-linenumbers', 'CodeMirror-foldgutter'],
        indentWithTabs:false,
        electricChars:true,
        matchBrackets:true,
        autoCloseBrackets:true,
        highlightSelectionMatches:true,
        indentUnit:2,
        lineWrapping: true,
        readOnly:true
    };
    $('.code').each(function(){
        CodeMirror.fromTextArea(this, cmOpts);
    });

    function cmIfyPreCodeBlocks(block){
        var sample = block;
        var text = sample.textContent || sample.innerText;
        var newOpts = cmOpts;
        newOpts.value = text;
        CodeMirror(
            function(node){
                sample.parentNode.replaceChild(node, sample)
            }, newOpts
        );
    }
    $('pre code').each(function(){cmIfyPreCodeBlocks(this)});
