:markdown
    # Confluence XML-RPC Scopes

    For more information about the Confluence XML-RPC APIs, please consult [the documentation on developer.atlassian.com](https://developer.atlassian.com/display/CONFDEV/Confluence+XML-RPC+and+SOAP+APIs)
    and check out the [Product API Browser](../rest-apis/product-api-browser.html).

!= partial("_rpc_api_layout", { scope: scopes.confluence.xmlrpc })