:markdown
    # Confluence REST Scopes

    For more information about the Confluence REST APIs, please consult [the documentation on developer.atlassian.com](https://developer.atlassian.com/display/CONFDEV/Confluence+REST+APIs+-+Prototype+Only)
    and check out the [Product API Browser](../rest-apis/product-api-browser.html).

!= partial("_rest_api_layout", { scope: scopes.confluence.rest })