:markdown
    # Confluence JSON-RPC Scopes

    For more information about the Confluence JSON-RPC APIs, please consult [the documentation on developer.atlassian.com](https://developer.atlassian.com/display/CONFDEV/Confluence+JSON-RPC+APIs)
    and check out the [Product API Browser](../rest-apis/product-api-browser.html).

    Both version 1 and 2 of JSON-RPC are supported, i.e. RPC calls to the following endpoints are covered:

    *   ``/confluenceservice-v1``
    *   ``/confluenceservice-v2``

!= partial("_rpc_api_layout", { scope: scopes.confluence.jsonrpc })