:markdown
    # JIRA Agile REST Scopes

    For more information about the JIRA Agile REST APIs, please refer to [the documentation on docs.atlassian.com](https://docs.atlassian.com/greenhopper/REST/cloud)
    and check out the [Product API Browser](../rest-apis/product-api-browser.html).

div.aui-message.aui-message-warning
    p Note that the private REST resources listed below are deprecated and will be removed on the 1st November 2015.

!= partial("_rest_api_layout", { scope: scopes.agile.rest })