:markdown
    # JIRA REST Scopes

    For more information about the JIRA REST APIs, please consult [the documentation on developer.atlassian.com](https://developer.atlassian.com/display/JIRADEV/JIRA+REST+APIs)
    and check out the [Product API Browser](../rest-apis/product-api-browser.html).

!= partial("_rest_api_layout", { scope: scopes.jira.rest })