:markdown
    # JIRA Software REST Scopes

    For more information about the JIRA Software REST APIs, please refer to [the documentation on docs.atlassian.com](https://docs.atlassian.com/greenhopper/REST/cloud)
    and check out the [Product API Browser](../rest-apis/product-api-browser.html).

div.aui-message.aui-message-warning
    p Note that the private REST resources listed below are deprecated and will be removed
    | on the 1st February 2016 (The date has been postponed from the 1st November 2015).
    p
      :markdown
        Direct calls to these resources will still work, although it is advisable to use the [Public REST API](https://docs.atlassian.com/greenhopper/REST/cloud).

!= partial("_rest_api_layout", { scope: scopes.jiraSoftware.rest })