:markdown
    # JIRA Service Desk REST Scopes

    For more information about the JIRA Service Desk REST APIs, please refer to [the documentation on docs.atlassian.com](https://developer.atlassian.com/jiradev/jira-applications/jira-service-desk)
    and check out the [Product API Browser](../rest-apis/product-api-browser.html).

div.aui-message.aui-message-warning

!= partial("_rest_api_layout", { scope: scopes.jiraServiceDesk.rest })