.DS_Store
target
.idea
.stashconfig.yml
*.iml
*.ipr
*.iws
*.swp
*.swo
*~
*.log
*.releaseBackup
pom.release.xml
*debuglog.txt
debuglog.txt
dependency-reduced-pom.xml
.cache
apps
node_modules

build-number.txt
docs/target
plugin/node
plugin/src/main/resources/js/core
plugin/src/main/resources/css/core
.vagrant
