<html>
    <head>
        <script src="http://localhost:5990/refapp/remoteapps/all.js" type="text/javascript"></script>
    </head>
    <body>
        <div>
            Message: <span id="message">Success</span>
        </div>
        <div>
            Consumer: <span id="consumerKey">$consumerKey</span>
        </div>
        <script type="text/javascript">
            RA.init();
            RA.resize(600,400);
        </script>
    </body>
</html>