<script src="$hostBaseResourceUrl/aui/$auiVersion/js/aui-all.js"></script>
<!--[if lt IE 9]><script src="$hostBaseResourceUrl/aui/$auiVersion/js/aui-ie.js"></script><![endif]-->
#foreach ($url in $appScriptUrls)
<script src="$url"></script>
#end
