#set ($uuid = $contextParams.get('postFunction.id'))
#set ($config = $contextParams.get('postFunction.config'))

<input id="postFunction-config-$uuid"
       name="postFunction.config-$uuid"
       value="$!config" type="hidden"/>
<input name="postFunction.id" value="$uuid"
       type="hidden" />

#parse("velocity/iframe-body.vm")