#* @vtlvariable name="webResourceHelper" type="com.atlassian.confluence.setup.velocity.VelocityFriendlyPageBuilderService" *#
#* @vtlvariable name="confluenceRemoteTheme" type="com.atlassian.plugin.connect.confluence.theme.ConfluenceRemoteAddonThemeVelocityContext" *#
#* @vtlvariable name="addonTheme" type="com.atlassian.plugin.connect.confluence.theme.ConfluenceRemoteAddonTheme" *#
#* @vtlvariable name="currentUser" type="com.atlassian.confluence.user.ConfluenceUserImpl" *#
#* @vtlvariable name="action" type="com.atlassian.confluence.core.ConfluenceActionSupport" *#
#set($addonTheme = $confluenceRemoteTheme.themeManager.getSpaceTheme($action.spaceKey))
#set($currentUser = $action.authenticatedUser)
<html class="page.vm">
<body style="margin: 0">
<head>
$webResourceHelper.requireResource("com.atlassian.plugins.atlassian-connect-plugin:confluence-atlassian-connect-resources")
$webResourceHelper.getRequiredResources()
</head>
<content tag="spacekey">$action.spaceKey</content>
<content tag="connectAddonThemed">true</content>
    ${addonTheme.getRemoteUrl($addonTheme.layoutTypes.page, {
        'contentId': "$action.page.id",
        'spaceKey':$action.spaceKey,
        'username' : $currentUser.fullName,
        'userKey' : $currentUser.key,
        'contentType':'page'
    })}
</body>
</html>
