<html>
<head>
    <title>$title</title>
    <meta name="decorator" content="main"/>
</head>
    #applyDecorator("root")
    #decoratorParam("helper" $action.helper)
    #decoratorParam("context" "space-administration")
    #decoratorParam("mode"  "view-space-administration")

<body>

    #applyDecorator ("root")
            #decoratorParam ("context" "spaceadminpanel")
            #decoratorParam ("selection" $spaceAdminWebItemKey)
            #decoratorParam ("title" $title)
            #decoratorParam ("selectedTab" "admin")
            #decoratorParam ("selectedSpaceToolsWebItem" $moduleKey)
            #decoratorParam("helper" $action.helper)

            $iFrameHtml
    #end
</body>
#end
</html>