#* @vtlvariable name="confluenceRemoteTheme" type="com.atlassian.plugin.connect.confluence.theme.ConfluenceRemoteAddonThemeVelocityContext" *#
#* @vtlvariable name="addonTheme" type="com.atlassian.plugin.connect.confluence.theme.ConfluenceRemoteAddonTheme" *#
#* @vtlvariable name="currentUser" type="com.atlassian.confluence.user.ConfluenceUserImpl" *#
#* @vtlvariable name="action" type="com.atlassian.confluence.pages.actions.ViewPageAction" *#
#set($addonTheme = $confluenceRemoteTheme.themeManager.getSpaceTheme($action.spaceKey))
#set($currentUser = $action.authenticatedUser)
<html>
<head>
    #parse("/velocity/confluence/theme-support/includes/head.vm")
</head>
<body>
<content tag="spacekey">$action.spaceKey</content>
<content tag="connectAddonThemed">true</content>
    ${addonTheme.getRemoteThemeIframe($addonTheme.layoutTypes.page, {
        'contentId': "$action.page.id",
        'spaceKey': $action.spaceKey,
        'username' : $currentUser.fullName,
        'userKey' : $currentUser.key.stringValue,
        'contentType': $action.page.type
    })}
</body>
</html>
