<?js
	var data = obj;
    data.forEach(function(example) {
        if (example.caption) {
    ?>
        <p class="code-caption"><?js= example.caption ?></p>
    <?js } ?>
    <div class="runable">
        <pre><code><?js= example.code ?></code></pre>
        <textarea class="demo"><?js= example.code ?></textarea>
    </div>
<?js
    });
?>
