<h1>Big Pipe Test</h1>

<p id="bigpipe-html">
  <h3>HTML</h3>
  <p id="html-1">$htmlOneHtml</p>
  <p id="html-2">$htmlTwoHtml</p>
</p>

<p id="bigpipe-data">
  <h3>Data</h3>
  <p id="data-1"></p>
  <p id="data-2"></p>
</p>

<p id="bigpipe-xhr-data">
  <h3>XHR Data</h3>
  <p id="xhr-data-1"></p>
  <p id="xhr-data-2"></p>
</p>
