<html>
<head>
	$webResourceManager.requireResource("com.atlassian.jira.jira-project-config-plugin:project-config-global")
	<title>$!title</title>

	<content tag="breadcrumbs">
		<ol id="breadcrumbs">
			<li class="first" ><span><a href="$contextPath/dashboard.action">Dashboard</a></span></li>
			<li><span>$!title</span></li>
		</ol>
	</content>
	<meta name="tab" content="$!title"/>
	<meta name="decorator" content="atl.admin"/>
	<meta name="admin.active.section" content="atl.jira.proj.config"/>
	<meta name="admin.active.tab" content="${adminActiveTab}"/>
	<meta name="projectKey" content="$queryParams.projectKey.get(0)"/>

</head>

<body>
<div class="ra-servlet-placeholder">
	$iframeHtml
</div>
</body>
</html>