{
    "addon_key":"$plugin.key",
    "key": "$namespace".replace("$plugin.key" + "__",''),
    "cp":"$contextPath",
    "uid":"$userId",
    "ukey":"$userKey",
    "general":"$!general",
    "w":"$!width",
    "h":"$!height",
    "url":"$iframeSrcHtml",
    "productCtx":"$productContextHtml",
    "timeZone":"$timeZone"
}