<script class="ap-iframe-body-script">
    _AP.require(["host/main"], function(create) {
        create({
            ns:"$namespace",key:"$plugin.key",cp:"$contextPath",uid:"$userId",ukey:"$userKey",dlg:"$!dialog",simpleDlg:"$!simpleDialog",general:"$!general",w:"$!width",h:"$!height",src:"$iframeSrcHtml",productCtx:"$productContextHtml",data:{
                #foreach($e in $data.entrySet())
                    "${e.key}":"${e.value}"#if(!${foreach.isLast()}),#end
                #end
            }
        })
    });
</script>