<div id="ra-$namespace">
    <div id="embedded-$namespace"></div>
    <div id="ra-stats" style="color: gray; font-size: smaller">
        <hr style="border: none; border-top: 1px solid #ddd"/>
        <div class="ra-timeout" style="display: none">Plugin $remoteapp.name is not available.</div>
        <div class="ra-message" style="display: none">
            Loaded from <a href="${remoteapp.displayUrl}">$remoteapp.name</a> in <span class="ra-elapsed"></span> ms.
        </div>
    </div>
    ## @todo figure out how to optimize the scripts generated here
    #foreach ($scriptUrl in $scriptUrls)
        <script src="$scriptUrl"></script>
    #end
    <script>RemoteApps.create({ns: '$namespace', src: '$iframeSrcHtml', height: '$!height', width: '$!width', contextPath: '$contextPath', appKey: '$remoteapp.key', userId: '$userId'});</script>
</div>
