<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>$!title</title>
  <meta name="tab" content="$!title"/>
  <meta name="decorator" content="$decorator"/>
  <content tag="show-main-container">false</content> <!-- confluence secret to not show the container with the header -->
</head>
<body>
  <div class="ap-servlet-placeholder">
      #parse("velocity/iframe-body.vm")
  </div>
</body>
</html>
