<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="tab" content="$!title"/>
  <meta name="decorator" content="$decorator"/>
  <title>$!title</title>
</head>
<body>
    #parse("velocity/iframe-body-accessdenied.vm")
</body>
</html>
