<script class="ap-iframe-body-script">
  (function(){
    require(['ac/create'], function(create){
      var data = #parse("velocity/iframe-json.vm");
      create.appendConnectAddon(data);
    });
  }());
</script>