<div class="aui-nav-heading">
    <strong><%= title %></strong>
</div>
<ul class="aui-nav">
    <% for (var key in modules) { %>
        <% var module = modules[key]; %>
        <% var selected = module.selfLink === current.path.join("/") ? "class=aui-nav-selected" : ""; %>
        <li <%= selected %>>
            <a href="/<%= module.selfLink %>.html"><%= module.name %></a>
        </li>
    <% } %>
</ul>