<div class="aui-page-panel-nav">
    <nav class="aui-navgroup aui-navgroup-vertical">
        <div class="aui-navgroup-inner">
            <div class="aui-nav-heading">
                <strong>Pages</strong>
            </div>
            <ul class="aui-nav">
                <li>
                    <a href="#">Admin Page</a>
                </li>
                <li>
                    <a href="#">Configuration Page</a>
                </li>
                <li class=" aui-nav-selected">
                    <a href="#">General Page</a>
                </li>
                <li>
                    <a href="#">Profile Page</a>
                </li>
                <li>
                    <a href="#">Web Panel</a>
                </li>
            </ul>
            <ul class="aui-nav">
                <li>
                    <a href="#">Webhooks</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
