<%
    // returns "class='aui-nav-selected'" for the current page, or the empty string otherwise
    var selected = function(path) {
        var isSelected = false;
        // trim file extension if present
        if (path.indexOf('.') > -1) {
            path = path.split('.')[0];
        }
        return path === current.path.join("/") ? "class='aui-nav-selected'" : "";
    };
%>

<ul class="aui-nav">
    <%
    for (var i in public[category]._data) {
        var page = public[category]._data[i];
    %>
        <li <%- selected(category + '/' + page.filename) %>>
            <a href="<%= (page.url ? page.url : (relDocRoot + category + '/' + page.filename)) %>"><%= page.title %>
            <% if (page.new) { %>
                <span class="aui-lozenge aui-lozenge-success">new!</span>
            <% } %>
            </a>
        </li>
    <% } %>
</ul>
