<div class="aui-page-panel-nav">
    <nav class="aui-navgroup aui-navgroup-vertical">
        <div class="aui-navgroup-inner">
            <ul class="aui-nav">
                <li class=" aui-nav-selected">
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Getting Started</a>
                </li>
            </ul>

            <div class="aui-nav-heading">
                <strong>Add-on Descriptor</strong>
            </div>
            <ul class="aui-nav">
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Lifecycle</a>
                </li>
                <li>
                    <a href="#">Authentication</a>
                </li>

            <div class="aui-nav-heading">
                <strong>JIRA Add-on Modules</strong>
            </div>
            <ul class="aui-nav">
                <% for (var key in jira.properties.capabilities.properties) { %>
                    <% var module = jira.properties.capabilities.properties[key]; %>
                    <li>
                        <a href="#"><%= typeof module.items.title !== 'undefined'  ? module.items.title : key %></a>
                    </li>
                <% } %>
            </ul>


            <div class="aui-nav-heading">
                <strong>Guides</strong>
            </div>
            <ul class="aui-nav">
                <li>
                    <a href="#">Verifying requests</a>
                </li>
                <li>
                    <a href="#">Licensing</a>
                </li>
                <li>
                    <a href="#">Testing</a>
                </li>
            </ul>

            <div class="aui-nav-heading">
                <strong>REST API Browser</strong>
            </div>
            <ul class="aui-nav">
                <li>
                    <a href="#">JIRA</a>
                </li>
                <li>
                    <a href="#">Confluence</a>
                </li>
            </ul>

            <div class="aui-nav-heading">
                <strong>Help and Support</strong>
            </div>
            <ul class="aui-nav">
                <li>
                    <a href="#">FAQ</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
                <li>
                    <a href="#">Atlassian Answers</a>
                </li>
            </ul>

        </div>
    </nav>
</div>